doctype html
html(lang="ja")
  head
    include _head
  body
    .l-container
      header.l-header
        nav.nav
          h1.nav__title 3Dist
          p#js-modal.nav__link ABOUT
      main.l-main
        div.graphic
          p.graphic__img
            img(src="./images/grp_petbottles.jpg")
          p.graphic__img
            img(src="./images/grp_tire.jpg")
          p.graphic__img
            img(src="./images/grp_box-lump-sun02.jpg")
          p.graphic__img
            img(src="./images/grp_plumbing.jpg")
          p.graphic__img
            img(src="./images/grp_boots.jpg")
          p.graphic__img
            img(src="./images/grp_wall-box.jpg")
          p.graphic__img
            img(src="./images/grp_wire-triangle.jpg")
          p.graphic__img
            img(src="./images/grp_space-lighting.jpg")
          p.graphic__img
            img(src="./images/grp_mirror-triangle.jpg")
          p.graphic__img
            img(src="./images/grp_studs-belt.jpg")
          p.graphic__img
            img(src="./images/grp_parts.jpg")
          p.graphic__img
            img(src="./images/grp_box-lump-hemi.jpg")
          p.graphic__img
            img(src="./images/grp_box-lump-spot.jpg")
          p.graphic__img
            img(src="./images/grp_block.jpg")
          p.graphic__img
            img(src="./images/grp_text.jpg")
          p.graphic__img
            img(src="./images/grp_box-lump-sun.jpg")
          p.graphic__img
            img(src="./images/grp_maruchan.jpg")
          p.graphic__img
            img(src="./images/grp_stone.jpg")
          p.graphic__img
            img(src="./images/grp_apple-casket.jpg")
          p.graphic__img
            img(src="./images/grp_stairs.jpg")
      footer.l-footer
        .footer
          p &copy; 2019 sui
      #js-about.about
        .about__block
          p.about__btn
            a#js-close.btn-close
          h2.about__title ABOUT
          .about__txt
            p 3Dの練習中に生まれたものたちや、気に入った部分を置いておくだけのページです。<br>試す過程や偶然の表現を切り捨てず、切り取って並べてみるのも<br>楽しいかもと思い、はじめてみました。
            p イラストの背景となるちょっと不思議な空間や、かわいい生き物、<br>好きなお菓子などを作れるようになりたいです。
            p
              | Made by 
              a(href="https://twitter.com/sui_em") sui
        
