@charset "UTF-8";

body {
  font-family: ingra, ingra2, -apple-system, BlinkMacSystemFont, "Helvetica Neue", 'Noto Sans JP', "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #101E90;
  text-align: center;
}

/* ---------------------------------------- */
/* header */
/* ---------------------------------------- */

.l-header {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 90vh;
  position: fixed;
}

.nav {
  justify-self: center;
  align-self: center;
  &__title {
    font-size: 80px;
    font-family: ingra-2;
    font-weight: 200;
    margin-bottom: 10px;
  }
  &__link {
    font-size: 22px;
  }
}

/* ---------------------------------------- */
/* layout */
/* ---------------------------------------- */

.l-container {
}

.l-main {
}

.graphic {
  display: grid;
  gap: 126px;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-content: center;
  padding: 160px 100px;
  &__img {
    display: contents;
    background: #F5F8F8;
  }
}

/* ---------------------------------------- */
/* footer */
/* ---------------------------------------- */

.l-footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 30px;
}

.footer {
  font-size: 16px;
}

/* ---------------------------------------- */
/* modal */
/* ---------------------------------------- */

.about {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .95);
  &__block {
    justify-self: center;
    align-self: center;
  }
  &__title {
    font-size: 56px;
    margin-bottom: 30px;
    font-family: ingra-2;
    font-weight: 200;
  }
  &__txt {
    font-size: 17px;
    line-height: 1.8;
    p {
      margin-bottom: 20px;
    }
  }
  a {
    color: #101E90;
    &:hover {
      text-decoration: none;
    }
  }
}
.active {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 95vh;
}

.btn {
  &-close {
    display: inline-block;
    position: relative;
    padding: 0;
    width: 1px;
    height: 45px;
    background: #101E90;
    transform: rotate(55deg);
    &:before {
      display: block;
      content: "";
      position: absolute;
      top: 25px;
      left: -22px;
      width: 45px;
      height: 1px;
      margin-top: -2px;
      background: #101E90;
      transform: rotate(-20deg);
    }
  }
}
